@model IEnumerable<UserVacations.Models.VacationConfiguration>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarnedDays)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacationDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarnedDays)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
